body {
    margin: 0;
    padding: 0;
    background: #333;
    background-attachment: fixed;
    background-size: cover;
  }
  
  #video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
  }
  

  
  .info {
    position: absolute;
    top: 30%;
    width: 100%;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
  }

  .info small {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 15px;
    line-height: 0px;
    padding: 0 2%;
  }

  h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0;
    font-weight: 800;
    font-size: 100px;
    line-height: 24px;
    position: relative;
  }
  h1::after{
    content:"®";
    position: absolute;
    font-size: 14px;
    top: -44px;
    margin-left: 10px;

  }


  h2,h3 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0;
    font-weight: 800;
    font-size: 30px;
    line-height: 24px;

  }
  
  .fab {
    font-size: 30px;
    padding-right: 10px;
    color: #fff;
 }
  

  
  h1 span a {
    color: #fff;
  }
/* 
  @media only screen and (max-width: 600px) {
      h1 {
        font-size: 17em;
      }

      h1::after{
   
        top: -119px;

    
      }
    
      
      h2,
      h3,
      .fab  {
        font-size: 5em;

    
      }
  } */